{% extends "template.html" %}
{% block content %}
  <h1>Welcome to DomainAdder</h1>
  <a href="/logout">Logout</a>
  <div class="add-task">
    <h3>Add a new domain name</h3>
    <table>
      <tr>
        <form action="{{ url_for('new_task') }}" method="post">
        {{ form.csrf_token }}
          <td>
            <label>Domain Name:</label>
            <input name="name" type="text">
          </td>
          <td>
            &nbsp;
            &nbsp;
            <input class="button" type="Submit">
          </td>
        </form>
      </tr>
    </table>
  </div>
  <div class="entries">
    <br>
    <br>
    <h2>Domain Names</h2>
    <div class="datagrid">
      <table>
        <thead>
          <tr>
            <th width="300px"><strong>Domain Name</strong></th>
 
          </tr>
        </thead>
        {% for o in domain_names %}
          <tr>
            <td width="300px">{{ o.name }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>
  
  </div>
{% endblock %}